In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
sales = pd.read_csv(r"data\item_sales.csv")
calendar = pd.read_csv(r"data\daily_calendar.csv")

In [3]:
calendar.head(1)

         date   weekday  weekday_int    d event
0  2011-01-29  Saturday            1  d_1   NaN

In [4]:
calendar['date'] = pd.to_datetime(calendar['date'], format='%Y-%m-%d')

In [5]:
start_date = calendar['date'].min()
end_date = calendar['date'].max()

In [6]:
calendar['event'] = calendar['event'].fillna('no event')

In [7]:
date_range = pd.date_range(start=start_date, end= end_date, freq='D')
date_range = date_range.to_list()
columns_new = sales.columns[:7].to_list()
columns_for_rename = columns_new + date_range

sales.columns = columns_for_rename

In [8]:
sales.head(1)

,id,item,category,department,store,store_code,region,2011-01-29 00:00:00,2011-01-30 00:00:00,2011-01-31 00:00:00,...,2016-04-15 00:00:00,2016-04-16 00:00:00,2016-04-17 00:00:00,2016-04-18 00:00:00,2016-04-19 00:00:00,2016-04-20 00:00:00,2016-04-21 00:00:00,2016-04-22 00:00:00,2016-04-23 00:00:00,2016-04-24 00:00:00
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,3,0,1,1,1,3,0,1,1

In [9]:
# Mantener las primeras 7 columnas originales
first_columns = sales.iloc[:, :7]

# Extraer solo las columnas que tienen el formato de fecha en sus nombres
date_columns = [col for col in sales.columns[7:].to_list()]

# Realizar la transformación para convertir las columnas de fechas en una sola columna
sales_melted = sales.melt(id_vars=first_columns.columns.tolist(), value_vars=date_columns, var_name='date', value_name='sales')

In [10]:
sales_melted["date"] = sales_melted["date"].apply(lambda x: x[0:7])

TypeError: 'Timestamp' object is not subscriptable

In [ ]:
sales = sales_melted.copy()

In [ ]:
gb = sales.groupby("store_code")["store"].unique()

In [ ]:
a= gb.to_dict()

In [ ]:
a

{'BOS_1': array(['South_End'], dtype=object),
 'BOS_2': array(['Roxbury'], dtype=object),
 'BOS_3': array(['Back_Bay'], dtype=object),
 'NYC_1': array(['Greenwich_Village'], dtype=object),
 'NYC_2': array(['Harlem'], dtype=object),
 'NYC_3': array(['Tribeca'], dtype=object),
 'NYC_4': array(['Brooklyn'], dtype=object),
 'PHI_1': array(['Midtown_Village'], dtype=object),
 'PHI_2': array(['Yorktown'], dtype=object),
 'PHI_3': array(['Queen_Village'], dtype=object)}

In [ ]:
sales.isnull().sum().sum()

0

In [ ]:
gb_sales = sales.groupby(["id", "date"])["sales"].sum()

In [ ]:
gb_sales =gb_sales.to_frame()

In [ ]:
gb_sales = gb_sales.reset_index()

In [ ]:
gb_sales

                              id     date  sales
0         ACCESORIES_1_001_BOS_1  2011-01      0
1         ACCESORIES_1_001_BOS_1  2011-02      0
2         ACCESORIES_1_001_BOS_1  2011-03      0
3         ACCESORIES_1_001_BOS_1  2011-04      0
4         ACCESORIES_1_001_BOS_1  2011-05      0
...                          ...      ...    ...
1951355  SUPERMARKET_3_827_PHI_3  2015-12     41
1951356  SUPERMARKET_3_827_PHI_3  2016-01     49
1951357  SUPERMARKET_3_827_PHI_3  2016-02     46
1951358  SUPERMARKET_3_827_PHI_3  2016-03     68
1951359  SUPERMARKET_3_827_PHI_3  2016-04     15

[1951360 rows x 3 columns]

In [ ]:
gb_sales

                              id     date  sales
0         ACCESORIES_1_001_BOS_1  2011-01      0
1         ACCESORIES_1_001_BOS_1  2011-02      0
2         ACCESORIES_1_001_BOS_1  2011-03      0
3         ACCESORIES_1_001_BOS_1  2011-04      0
4         ACCESORIES_1_001_BOS_1  2011-05      0
...                          ...      ...    ...
1951355  SUPERMARKET_3_827_PHI_3  2015-12     41
1951356  SUPERMARKET_3_827_PHI_3  2016-01     49
1951357  SUPERMARKET_3_827_PHI_3  2016-02     46
1951358  SUPERMARKET_3_827_PHI_3  2016-03     68
1951359  SUPERMARKET_3_827_PHI_3  2016-04     15

[1951360 rows x 3 columns]

In [ ]:
file_name = "reduced_sales.csv"
gb_sales.to_csv(file_name)