# create df market

### loading libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import seaborn as sns
import matplotlib.pyplot as plt

import time

import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

# imports best practice pandas
import os

import numpy as np
import pandas as pd

#--------------------------------------------------------

### loading csv files

In [ ]:
df_sales = pd.read_csv('./data/reduced_sales.csv')

In [ ]:
df_prices = pd.read_csv('./data/reduced_prices.csv')

         Unnamed: 0                       id        date  sales
1593541     1593541  SUPERMARKET_3_265_PHI_3  2011-06-30     61
32352         32352   ACCESORIES_1_051_NYC_3  2013-09-30     12

In [ ]:
del(df_sales["Unnamed: 0"])

In [ ]:
df_sales

In [ ]:
del(df_prices["Unnamed: 0"])

In [ ]:
df_prices

In [41]:
### Making new colunm so to merge by it

,item,category,store_code,yearweek,sell_price,date
0,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,2013-07-16
1,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,2013-07-17
2,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,2013-07-18
3,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,2013-07-19
4,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,2013-07-20
...,...,...,...,...,...,...
45986371,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201616,1.2000,2016-04-20
45986372,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201616,1.2000,2016-04-21
45986373,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201616,1.2000,2016-04-22
45986374,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201616,1.2000,2016-04-23
45986375,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201617,1.2000,2016-04-24

In [ ]:
del(df_merge["category"])

In [ ]:
df_prices

In [44]:
### deleting useless colunms

In [ ]:
del(df_prices["item"])

item          0
store_code    0
sell_price    0
date          0
dtype: int64

In [ ]:
del(df_prices["store_code"])

In [ ]:
df_prices

### Deleting days on df["dates]

In [ ]:
df_prices["date"] = df_prices["date"].astype(str).apply(lambda x: x[0:7])

In [ ]:
df_prices.shape

In [ ]:
df_prices.head(5)

In [ ]:
df_prices

In [ ]:
df_sales

In [ ]:
df_full = pd.merge(df_sales,df_prices, on=["id", "date"], how="left")

In [62]:
### Filling nulls with 0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1951360 entries, 0 to 1951359
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   id      object
 1   date    object
 2   sales   int64
dtypes: int64(1), object(2)
memory usage: 44.7+ MB

In [ ]:
df_full["sell_price"].fillna(0, inplace=True)

In [66]:
###  Making new columns "Income"

In [ ]:
df_full["income"] = df_full["sales"] * df_full["sell_price"]

### Loading original item_sales_df for making dicts to map new columns

In [25]:
df_full_sales = pd.read_csv("./data/item_sales.csv")

In [ ]:
df_full_sales

In [ ]:
store_dict = df_full_sales.groupby(["store_code"])["store"].first().to_dict()

In [ ]:
region_dict = df_full_sales.groupby(["store_code"])["region"].first().to_dict()

### Making new columns from "id" column

In [ ]:
df_full["store_code"] = df_full["id"].apply(lambda x: x[-5:])

In [ ]:
store_dict

In [ ]:
df_full["store"] = df_full["store_code"].map(store_dict)

In [ ]:
df_full["region"] = df_full["store_code"].map(region_dict)

In [ ]:
df_full["department"] = df_full["id"].apply(lambda x: x[:-12])

In [ ]:
df_full["category"] = df_full["id"].apply(lambda x: x[:-10])

In [ ]:
df_full

In [ ]:
file_name = "df_full.csv"
df_full.to_csv(file_name)