In [1]:
import numpy as np
import pandas as pd

In [4]:
df_prices = pd.read_csv('./data/item_prices.csv')

In [6]:
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965706 entries, 0 to 6965705
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 265.7+ MB

In [17]:
print(df_prices.shape)
df_prices.head(1)

(6753586, 5)

               item    category store_code  yearweek  sell_price
0  ACCESORIES_1_001  ACCESORIES      NYC_1  201328.0     12.7414

## Drop duplicated

In [12]:
df_prices[df_prices.duplicated(keep=False)]
#df_prices.drop_duplicates(inplace=True)

Empty DataFrame
Columns: [item, category, store_code, yearweek, sell_price]
Index: []

### I filter with groupby, for _items_

In [27]:
df_new_price = df_prices.groupby(['item']).agg(
    price_min = ('sell_price', 'min'),
    price_max = ('sell_price', 'max'),
    price_mean = ('sell_price', 'mean')
).reset_index()

df_new_price.head(1)

               item  price_min  price_max  price_mean
0  ACCESORIES_1_001       6.65    12.7414    11.03319