In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import seaborn as sns
import matplotlib.pyplot as plt

import time

import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

# imports best practice pandas
import os

import numpy as np
import pandas as pd

#--------------------------------------------------------

In [3]:
df_sales = pd.read_csv('./data/reduced_sales.csv')
df_prices = pd.read_csv('./data/reduced_prices.csv')

In [4]:
del(df_sales["Unnamed: 0"])
del(df_prices["Unnamed: 0"])

### Making new colunm so to merge by it

In [5]:
df_prices["id"] = df_prices["item"] + "_" + df_prices["store_code"]

In [6]:
df_prices

,item,store_code,date,sell_price,id
0,ACCESORIES_1_001,BOS_1,2013-07-31,11.753875,ACCESORIES_1_001_BOS_1
1,ACCESORIES_1_001,BOS_1,2013-08-31,10.985800,ACCESORIES_1_001_BOS_1
2,ACCESORIES_1_001,BOS_1,2013-09-30,10.985800,ACCESORIES_1_001_BOS_1
3,ACCESORIES_1_001,BOS_1,2013-10-31,10.985800,ACCESORIES_1_001_BOS_1
4,ACCESORIES_1_001,BOS_1,2013-11-30,10.985800,ACCESORIES_1_001_BOS_1
...,...,...,...,...,...
1536771,SUPERMARKET_3_827,PHI_3,2015-12-31,1.200000,SUPERMARKET_3_827_PHI_3
1536772,SUPERMARKET_3_827,PHI_3,2016-01-31,1.200000,SUPERMARKET_3_827_PHI_3
1536773,SUPERMARKET_3_827,PHI_3,2016-02-29,1.200000,SUPERMARKET_3_827_PHI_3
1536774,SUPERMARKET_3_827,PHI_3,2016-03-31,1.200000,SUPERMARKET_3_827_PHI_3
1536775,SUPERMARKET_3_827,PHI_3,2016-04-30,1.200000,SUPERMARKET_3_827_PHI_3

### deleting useless colunms

In [7]:
del(df_prices["item"])
del(df_prices["store_code"])

In [8]:
df_prices

               date  sell_price                       id
0        2013-07-31   11.753875   ACCESORIES_1_001_BOS_1
1        2013-08-31   10.985800   ACCESORIES_1_001_BOS_1
2        2013-09-30   10.985800   ACCESORIES_1_001_BOS_1
3        2013-10-31   10.985800   ACCESORIES_1_001_BOS_1
4        2013-11-30   10.985800   ACCESORIES_1_001_BOS_1
...             ...         ...                      ...
1536771  2015-12-31    1.200000  SUPERMARKET_3_827_PHI_3
1536772  2016-01-31    1.200000  SUPERMARKET_3_827_PHI_3
1536773  2016-02-29    1.200000  SUPERMARKET_3_827_PHI_3
1536774  2016-03-31    1.200000  SUPERMARKET_3_827_PHI_3
1536775  2016-04-30    1.200000  SUPERMARKET_3_827_PHI_3

[1536776 rows x 3 columns]

### Deleting days on df["dates]

In [9]:
df_prices["date"] = df_prices["date"].astype(str).apply(lambda x: x[0:7])

In [10]:
df_prices.shape

(1536776, 3)

In [28]:
df_prices.head(5)

      date  sell_price                      id
0  2013-07   11.753875  ACCESORIES_1_001_BOS_1
1  2013-08   10.985800  ACCESORIES_1_001_BOS_1
2  2013-09   10.985800  ACCESORIES_1_001_BOS_1
3  2013-10   10.985800  ACCESORIES_1_001_BOS_1
4  2013-11   10.985800  ACCESORIES_1_001_BOS_1

In [12]:
df_sales.sample(5)

                                id     date  sales
1724554    SUPERMARKET_3_470_NYC_4  2011-11     44
1167455    SUPERMARKET_1_216_BOS_2  2013-08     40
1408756    SUPERMARKET_2_375_BOS_2  2015-05     28
1188583    SUPERMARKET_2_030_BOS_2  2014-04     35
804642   HOME_&_GARDEN_2_161_BOS_3  2013-11      1

In [13]:
df_market = pd.merge(df_sales,df_prices, on=["id", "date"], how="left")

### Filling nulls with 0

In [14]:
df_market["sell_price"].fillna(0, inplace=True)

In [29]:
df_market

,id,date,sales,sell_price,income,store_code,category,region
0,ACCESORIES_1_001_BOS_1,2011-01,0,0.0,0.0,BOS_1,ACCESORIES,BOS
1,ACCESORIES_1_001_BOS_1,2011-02,0,0.0,0.0,BOS_1,ACCESORIES,BOS
2,ACCESORIES_1_001_BOS_1,2011-03,0,0.0,0.0,BOS_1,ACCESORIES,BOS
3,ACCESORIES_1_001_BOS_1,2011-04,0,0.0,0.0,BOS_1,ACCESORIES,BOS
4,ACCESORIES_1_001_BOS_1,2011-05,0,0.0,0.0,BOS_1,ACCESORIES,BOS
...,...,...,...,...,...,...,...,...
1951355,SUPERMARKET_3_827_PHI_3,2015-12,41,1.2,49.2,PHI_3,SUPERMARKET,PHI
1951356,SUPERMARKET_3_827_PHI_3,2016-01,49,1.2,58.8,PHI_3,SUPERMARKET,PHI
1951357,SUPERMARKET_3_827_PHI_3,2016-02,46,1.2,55.2,PHI_3,SUPERMARKET,PHI
1951358,SUPERMARKET_3_827_PHI_3,2016-03,68,1.2,81.6,PHI_3,SUPERMARKET,PHI
1951359,SUPERMARKET_3_827_PHI_3,2016-04,15,1.2,18.0,PHI_3,SUPERMARKET,PHI

###  Making new columns "Income"

In [15]:
df_market["income"] = df_market["sales"] * df_market["sell_price"]

In [16]:
df_market.sample(5)

                                id     date  sales  sell_price   income
553290   HOME_&_GARDEN_1_306_NYC_3  2011-11      0       0.000    0.000
1567485    SUPERMARKET_3_225_BOS_2  2016-02     24       2.376   57.024
1461827    SUPERMARKET_3_060_BOS_2  2011-04      0       0.000    0.000
1436880    SUPERMARKET_3_020_BOS_2  2012-05    157       1.200  188.400
731073   HOME_&_GARDEN_2_046_NYC_1  2011-02      0       0.000    0.000

### Loading original item_sales_df for making dicts to map new columns

In [17]:
df_market1 = df_market.copy()

In [18]:
df_market1

                              id     date  sales  sell_price  income
0         ACCESORIES_1_001_BOS_1  2011-01      0         0.0     0.0
1         ACCESORIES_1_001_BOS_1  2011-02      0         0.0     0.0
2         ACCESORIES_1_001_BOS_1  2011-03      0         0.0     0.0
3         ACCESORIES_1_001_BOS_1  2011-04      0         0.0     0.0
4         ACCESORIES_1_001_BOS_1  2011-05      0         0.0     0.0
...                          ...      ...    ...         ...     ...
1951355  SUPERMARKET_3_827_PHI_3  2015-12     41         1.2    49.2
1951356  SUPERMARKET_3_827_PHI_3  2016-01     49         1.2    58.8
1951357  SUPERMARKET_3_827_PHI_3  2016-02     46         1.2    55.2
1951358  SUPERMARKET_3_827_PHI_3  2016-03     68         1.2    81.6
1951359  SUPERMARKET_3_827_PHI_3  2016-04     15         1.2    18.0

[1951360 rows x 5 columns]

In [32]:
df_market[(df_market["id"]=="ACCESORIES_1_001_BOS_1") & (df_market["date"] >= "2013-07-31") & (df_market["sales"]==0)]

Empty DataFrame
Columns: [id, date, sales, sell_price, income, store_code, category, region]
Index: []

In [19]:
df_market["store_code"] = df_market["id"].apply(lambda x: x[-5:])

In [20]:
df_market["category"] = df_market["id"].apply(lambda x: x[:-12])

In [26]:
df_market["region"] = df_market["store_code"].apply(lambda x: x[0:3])

In [27]:
df_market

,id,date,sales,sell_price,income,store_code,category,region
0,ACCESORIES_1_001_BOS_1,2011-01,0,0.0,0.0,BOS_1,ACCESORIES,BOS
1,ACCESORIES_1_001_BOS_1,2011-02,0,0.0,0.0,BOS_1,ACCESORIES,BOS
2,ACCESORIES_1_001_BOS_1,2011-03,0,0.0,0.0,BOS_1,ACCESORIES,BOS
3,ACCESORIES_1_001_BOS_1,2011-04,0,0.0,0.0,BOS_1,ACCESORIES,BOS
4,ACCESORIES_1_001_BOS_1,2011-05,0,0.0,0.0,BOS_1,ACCESORIES,BOS
...,...,...,...,...,...,...,...,...
1951355,SUPERMARKET_3_827_PHI_3,2015-12,41,1.2,49.2,PHI_3,SUPERMARKET,PHI
1951356,SUPERMARKET_3_827_PHI_3,2016-01,49,1.2,58.8,PHI_3,SUPERMARKET,PHI
1951357,SUPERMARKET_3_827_PHI_3,2016-02,46,1.2,55.2,PHI_3,SUPERMARKET,PHI
1951358,SUPERMARKET_3_827_PHI_3,2016-03,68,1.2,81.6,PHI_3,SUPERMARKET,PHI
1951359,SUPERMARKET_3_827_PHI_3,2016-04,15,1.2,18.0,PHI_3,SUPERMARKET,PHI