In [2]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, timedelta

In [3]:
df_calendar = pd.read_csv('../data/daily_calendar_with_events.csv')

In [4]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   object
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        26 non-null     object
dtypes: int64(1), object(4)
memory usage: 74.9+ KB

## Check duplicates and delete

In [5]:
df_calendar[df_calendar.duplicated(keep=False)]

Empty DataFrame
Columns: [date, weekday, weekday_int, d, event]
Index: []

## Check for nulls

In [6]:
df_calendar.isnull().sum()

date              0
weekday           0
weekday_int       0
d                 0
event          1887
dtype: int64

In [7]:
df_calendar['event'].unique()

array([nan, 'SuperBowl', 'Ramadan starts', 'Thanksgiving', 'NewYear',
       'Easter'], dtype=object)

_df calendar_ have nulls but this represent no event, then they will are replacement

In [8]:
df_calendar.fillna('no event', inplace=True)

In [9]:
df_calendar.sample(5)

            date   weekday  weekday_int       d     event
331   2011-12-26    Monday            3   d_332  no event
932   2013-08-18    Sunday            2   d_933  no event
173   2011-07-21  Thursday            6   d_174  no event
803   2013-04-11  Thursday            6   d_804  no event
1723  2015-10-18    Sunday            2  d_1724  no event

### Safe the date be type "datetime"

In [10]:
df_calendar['date'] = pd.to_datetime(df_calendar['date'], format='%Y-%m-%d')

In [11]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   datetime64[ns]
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        1913 non-null   object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 74.9+ KB

In [13]:
# file_name = "df_calendar_clean.csv"
# df_calendar.to_csv(file_name)