In [42]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta

## Load __df_market__ to make dataset to prediction

In [43]:
df_market = pd.read_csv('../data/df_market.csv')

In [44]:
print(df_market.shape)
df_market.head(1)

(45986376, 7)

,date,id,store,sales,sell_price,event,income
0,2011-01-29,ACCESORIES_1_008_NYC_1,Greenwich_Village,12,0.6118,no event,7.3416

In [45]:
df_market.set_index('date', inplace=True)

### Need __item__ , I obtain of __id__

In [46]:
df_market['item']=df_market['id'].apply(lambda x: x[:-6])
df_market.head(1)

,id,store,sales,sell_price,event,income,item
date,,,,,,,
2011-01-29,ACCESORIES_1_008_NYC_1,Greenwich_Village,12,0.6118,no event,7.3416,ACCESORIES_1_008

### After analize, I work with top 100 in **income**

In [47]:
top100= df_market.groupby( ["item"])["income"].sum().sort_values(ascending=False).head(100).reset_index()

In [48]:
list_top100 = list(top100['item'].unique())

### Filter my top_100 list for work with them

In [49]:
df_top100 = df_market[df_market['item'].isin(list_top100)]

In [50]:
df_top100.drop(["id"],axis=1,inplace=True) #id is no necessary

C:\Users\harol\AppData\Local\Temp\ipykernel_13512\135813114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top100.drop(["id"],axis=1,inplace=True) #id is no necessary

In [51]:
df_top100 = df_top100[['item','sales','income','event']]

In [52]:
df_top100.head(1)

                        item  sales   income     event
date
2011-01-29  ACCESORIES_1_108      4  64.4784  no event

### Prepared dataset with numeric values

In [53]:
df_top100['event'] = np.where(df_top100['event']=="no event",0,1)
df_top100.head(2)

                           item  sales   income  event
date
2011-01-29     ACCESORIES_1_108      4  64.4784      0
2011-01-29  HOME_&_GARDEN_1_027      4  26.2000      0

In [54]:
file_name = "ts_top100_prediction.csv" #mountly
df_top100.to_csv(file_name)